.text_color {
  color: #480586
}

.text_color_r {
  color: #e90e50
}

.text_color_b {
  color: #7777ff
}

.verdana {
  font-family: Verdana, serif;
}





.wrapper{
  margin: 1.25rem 1.75rem;
}
.wrapper .input-box{
  position: relative;
}
.input-box input{
  width: 100%;
  height: 53px;
  color: #000;
  background: none;
  font-size: 1.06rem;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 1.4px;
  border: 1px solid #aaa;
  padding: 0 2.85rem 0 1rem;
}
.input-box span{
  position: absolute;
  right: 13px;
  cursor: pointer;
  line-height: 53px;
  color: #707070;
}
.input-box span:hover{
  color: #4285F4!important;
}
.wrapper .pass-indicator{
  width: 100%;
  height: 4px;
  position: relative;
  background: #dfdfdf;
  margin-top: 0.75rem;
  border-radius: 25px;
}
.pass-indicator::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  border-radius: inherit;
  transition: width 0.3s ease;
}
.pass-indicator#weak::before{
  width: 20%;
  background: #E64A4A;
}
.pass-indicator#medium::before{
  width: 50%;
  background: #f1c80b;
}
.pass-indicator#strong::before{
  width: 100%;
  background: #0ed407;
}
.wrapper .pass-length{
  margin: 1.56rem 0 1.25rem;
}
.pass-length .details{
  display: flex;
  justify-content: space-between;
}
.pass-length input{
  width: 100%;
  height: 5px;
}
.pass-settings .options{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding-left: 0px;

}
.pass-settings .options .option{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: calc(100% / 2);

}
.options .option:first-child{
  pointer-events: none;
}
.options .option:first-child input{
  opacity: 0.7;
}
.options .option input{
  height: 16px;
  width: 16px;
  cursor: pointer;
}
.options .option label{
  cursor: pointer;
  color: #4f4f4f;
  padding-left: 0.63rem;
  margin-bottom: 0;
  font-weight: 300;

}


/* Styling the track */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  /* background-color: #ddd; */
  border-radius: 5px;
}

/* Styling the thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #e90e50;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -7px;
}

/* Styling the thumb on hover */
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #cf0a45;
}

/* Styling the thumb when active (being dragged) */
input[type="range"]::-webkit-slider-thumb:active {
  background-color: #cf0a45;
}

/* Styling the range fill */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  background-color: #5267d1;
  border-radius: 5px;
}

